.country {
  width: 90%;
  margin: 1px auto;
}

.country > .btn-container {
  margin-left: 20px;
}

.description-container {
  display: grid;
  grid-template-columns: 350px 1fr;
  justify-content: center;
  background: linear-gradient(45deg, #c1d3e1, transparent);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  font-size: 2em;
}

#map-container {
  margin-top: 40px;
  grid-column: 1 / -1;
}

#frame {
  overflow-y: auto;
  height: calc(100vh - 420px);
  min-height: 200px;
  max-height: 450px;
}

@media (max-width: 768px) {
  .img-container,
  .description-txt {
    grid-column: 1 / -1;
  }

  .description-txt {
    margin-top: 40px;
    text-align: center;
  }

  .img-container > img {
    width: 100%;
  }
}
