body {
    background:url('../../img/amirali-mirhashemian-PZKe_hQSaJc-unsplash.jpg') rgba(5, 5, 5, 0.616);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
}

.countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.country-card {
    /* background-color: rgba(211, 211, 211, 0.37); */
    background:url('../../img/globe.jpg') rgba(211, 211, 211, 0.521);
    background-size: cover;
    background-blend-mode: multiply;
    
    margin: 0.5rem;
    padding: 2rem;
    width: 15%;
    text-decoration: none;
    /* color: black; */
    color: white;
    overflow: hidden;
    transition: 
    transform 750ms  cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

/* .country-card:hover {
    background-color: rgba(211, 211, 211, 0.884);
} */

.country-card:focus {
    position: relative;
    z-index: 2;
}

.country-card:hover,
.country-card:focus .country-card{
    transform: scale(1.2);
    /* opacity: .75; */
} 

h1 {
    font-size: 1.5em;
    margin-top: 2.5rem;
}

.flag-img {
    width: 100%;
    height: 150px;
}

.input-container {
    display: flex;
    justify-content: space-evenly;
}

.search-bar {
    margin: 1rem 0;
    width: 20%;
    height: 40px;
    font-size: 1.5em;
    padding-left: 00.5rem;
}

.select-container {
    margin: 1rem 0;
    width: 20%;
    height: 40px;
    font-size: 1.5em;
    padding-left: 00.5rem;
}

@media (max-width: 1160px) {
    .country-card {
        width: 20%;
    }
    .search-bar {
        width: 30%;
    }
    .select-container {
        width: 25%;
    }
}

@media (max-width: 900px) {
    .countries-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .country-card {
        width: 100%;
        margin: 0.5rem 0;
        text-align: center;
        padding: 1.5rem;
    }
    .flag-img {
        width: 50%;
        height: auto;
    }
    .search-bar {
        width: 50%;
        font-size: 1em;
        margin-right: 0.5rem;
    }
    .select-container {
        width: 40%;
        font-size: 1em;
        margin-left: 0.5rem;
    }
}
